@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Caveat:wght@400..700&family=Miniver&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    user-select: none;
}
html {
    scroll-behavior: smooth;
}
/* root */
:root {
    /* Colors */
    --white-color:white;
    --dark-color:rgb(51, 49, 49);
    --primary-color:rgb(231, 221, 221);
    --another-color:#f5deb3;
    --secondary-color:#353839;
    --secondary-color-hover:#565a5c;
    --button-color:linear-gradient(90deg,#2c0f12,#6b1e23);;
    --button-hover-color:rgb(141, 125, 125); 
    --hover-color:rgba(163, 150, 150, 1);
    --link-hover-color:rgb(209, 8, 8);

    /* --primary-color:#ffd700;
    --primary-color:#f0eded;
    --primary-color:#f5deb3;
    --primary-color:#c4c3d0;
    --primary-color:linear-gradient(90deg,#6b1e23,#2c0f12);
    --primary-color:linear-gradient(90deg,#6b1e23,#2c0f12);

    --secondary-color:#353839;
    --secondary-color:#77a8a8;
    --secondary-color:#36454f;
    --secondary-color:#50222d;
    --secondary-color:linear-gradient(90deg,#2c0f12,#6b1e23);
    --secondary-color:linear-gradient(90deg,#2c0f12,#6b1e23); */

    /* Font Size */
    --font-size-s: 10px;
    --font-size-n: 12px;
    --font-size-m: 14px;
    --font-size-l: 16px;
    --font-size-xl: 18px;
    --font-size-xxl: 20px;
    --font-size-xxxl: 22px;
   
    /* Font Weight */
    --font-weight-low:300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /* Border radius */
    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circle: 50%;

    /* Site Max-width */
    --site-max-width: 1300px;
}
header {
    position: relative;
    display: inline;
}
header .navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background-color: transparent;
    position: sticky;
    top:0px;
    z-index: 2;
}
.navbar .nav-links{
    display: flex;
    list-style: none;
    text-transform: uppercase;
    gap: 30px;
}
.navbar .nav-links li a{
    text-decoration: none;
    color: var(--white-color);
    font-size: var(--font-size-n);
    font-weight: var(--font-weight-bold);
}
.navbar .navbar-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navbar .navbar-logo a{
    text-decoration: none;
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-bold);
    color: var(--white-color);  
    text-transform: uppercase;
}
.navbar .social-links a{
    color:var(--white-color);
}
.navbar .social-links a i{
    margin: 5px;   
}
.navbar .nav-links li a:hover{
    color: var(--link-hover-color);
    transition: 0.3s;
    text-decoration: overline;    
}
.navbar .nav-links .menu-close-button{
    display: none;
}
.navbar-logo svg:hover{
    fill:yellow;
    transition: 0.3s;
    color:var(--link-hover-color);
    cursor: pointer;
}
.navbar .navbar-logo a:hover{
    color: var(--link-hover-color);
    transition: 0.3s;  
}
.navbar .social-links a:hover{
    cursor: pointer;
    color: var(--link-hover-color);
    transition: 0.3s; 
    border:1px var(--white-color) solid;
    border-radius: 50%;
    transition: 0.5s;
      
}
.navbar .menu-div{
    display: none;
}
.navbar .menu-div i{
    color:var(--white-color);
    font-size: var(--font-size-xl);
    width: 300px;
}
.navbar .menu-div i:hover{
    cursor: pointer;
    color: var(--link-hover-color);
    transition: 0.3s;
}

header .main-video video{
    position: absolute;
    top: 0;
    object-fit: cover;


    
}

/* ===================================== */

/*===== header =====*/
/* header .top-div {
    padding: 10px;
    background: var(--secondary-color) ;
    text-align:center;
}
header .top-div a {
    color:var(--another-color);
    text-decoration:none;
    font-size:var(--font-size-n);
    font-weight:var(--font-weight-normal);
    text-transform:uppercase;
}
header .top-div a i{
    color: var(--another-color);
}
header .top-div a:hover {
    color:var(--link-hover-color);
    text-decoration:underline;
    transition:0.5s;
}
header .top-div a i:hover{
    color:var(--link-hover-color);
}

header .bottom-div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    border-bottom: 1px solid rgb(158, 155, 155);
    background:var(--another-color);
}
.bottom-div-links{
    display: none;
}
.bottom-div-content ul{
    display: flex;
    align-items: center;
    gap: 15px;
}
.bottom-div-content ul li{
    list-style: none;
    font-size: var(--font-size-m);
    color: var(--dark-color);
}
.bottom-div-content ul li:hover{
    cursor: pointer;
    color: var(--link-hover-color);
}
.bottom-div-content ul li i{
    color: var(--dark-color);
    font-size: var(--font-size-m);
}
.bottom-div-content ul li i:hover{
    color: var(--link-hover-color);
    transition: 0.3s;
    cursor: pointer;
}
.bottom-div-content a{
    text-decoration: none;
    color: var(--dark-color);
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-normal);
}
.bottom-div-content a:hover{
    text-decoration: underline;
    color: var(--link-hover-color);
    transition: 0.3s;
}
.find-store {
    background:var(--white-color) ;
    color: var(--secondary-color);
    width: 18%;
    padding: 15px;
    position: absolute;
    left: 7%;
    top:7%;
    box-shadow: 0 0 2px 2px rgb(189, 181, 181);
    display: none;
    z-index: 3;
    text-align: center;
    border-radius: var(--border-radius-s);
    
}
.find-store i{
    position: relative;
    left: 40%;
    color: var(--secondary-color);
}
.find-store i:hover{
    cursor: pointer;
    color: var(--link-hover-color);
    text-decoration: overline;
    transition: 0.3s;
}
.find-store h5 {
    font-size: var(--font-size-n);
} 
.find-store h3 {
    font-size: var(--font-size-m);
    color: var(--link-hover-color);
}
.find-store p {
    font-size: var(--font-size-n);
}
.find-store button {
    padding: 5px;
    width: 100%;
    background: var(--secondary-color);
    color: var(--primary-color);
    border:1px solid black;
    border-radius: var(--border-radius-s);

    align-self: center;
    font-size: var(--font-size-s);
    margin-top: 5px;
}
.find-store button:hover {
    background: var(--secondary-color-hover);
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid var(--primary-color);


}

header{
    position: relative;
    display: inline;
}
header .header-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: transparent ;
    padding: 20px;
    z-index: 2;
    width: 100%;
    position: sticky;
    top:10px;
    
}
.header-row .header-column {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: uppercase;
}
header .header-row .header-column2 i{
    margin: 5px;
    
}
header .header-row .header-column {
    gap: 3px;
}
header .header-row .header-column .nav-links{
    list-style: none;
    display: flex;
    gap: 40px;
    text-transform: uppercase; 
    position: sticky;
    top:20px;
}
.header-row .header-column .content-text:hover{
    cursor: pointer;
    color: red;
    transition: 0.3s;
    text-decoration: underline;
}
.header-row .header-column h3,i{
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-bold);
    color:var(--secondary-color);
}
header .header-row .menu-list {
    display: none;
}
.header-row .header-column i{
    font-size: var(--font-size-m);
}
.header-row .header-column .nav-links a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: var(--font-size-n);
    font-weight: var(--font-weight-normal);
}
.header-row .header-column .nav-links a:hover{
    cursor: pointer;
    color: var(--link-hover-color);
    transition: 0.3s;
    text-decoration: underline;
}
.header-row .header-column3{
    display: none;
}

section{

}
section .home-section{
    
}

.home-section video::before{
       width: 100%;
       height: 100%;
       object-fit: cover;
       background-attachment: fixed;
    
    }
    
.home-section video::after{
    position: absolute;
       width: 100%;
       height: 100%;
    
    } */

/*===== Fixed Button (FeedBack Button) */
/* article .fixed-button{
    color: var(--primary-color);
    background:var(--secondary-color);
    padding: 8px;
    border:1px solid var(--dark-color);
    border-radius: var(--border-radius-s);
    position: fixed;
    top: 92%;
    left: 93%;    
}
article .fixed-button i{
    color: var(--primary-color);
}
article .fixed-button:hover{
    background: var(--secondary-color-hover);
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid var(--primary-color);

} */

/*===== Media Quary =====*/
/*----- Mobile Devices -----*/
/* @media screen  and (max-width:767px){

    
    header .top-div {
        padding: 5px;
    }
    header .top-div a{
        font-size:var(--font-size-s);
        font-weight:var(--font-weight-low);
    }
    header .top-div .link-two{
        display: none;
    }

    header .bottom-div {
        padding: 5px;
    }
    .bottom-div-links{
        display: block;
    }
    .bottom-div-links i{
        margin: 3px;
    }
    .bottom-div-links i:hover{
        color: var(--link-hover-color);
        cursor: pointer;
    }
    .bottom-div-content ul{
        gap: 7px;
    }
    .bottom-div-content ul li{
        font-size: var(--font-size-s);
    }
    .bottom-div-content ul li i{
        font-size: var(--font-size-s);
    }
    .bottom-div-content a{
        font-size: var(--font-size-s);
        font-weight: var(--font-weight-bold);
    }
    .bottom-div-content a i{
        font-size: var(--font-size-s);
    }
    .bottom-div-content i:hover{
        cursor: pointer;
        color: var(--link-hover-color);
    }
    .bottom-div-end-content {
        display: none;
    }
    
    .find-store {
        width: 50%;
        padding: 10px;
        position: absolute;
        left: 1%;
        top:1%;
        box-shadow: 0 0 1px 1px rgb(189, 181, 181);
    }
    .find-store i{
        position: relative;
        left: 40%;
        font-size: var(--font-size-m);
    }
    .find-store h5 {
        font-size: var(--font-size-n);
        font-weight: var(--font-weight-low);
    }
    .find-store h3 {
        font-size: var(--font-size-n);
        font-weight: var(--font-weight-normal);
    }
    .find-store p {
        font-size: var(--font-size-n);
        font-weight: var(--font-weight-low);
        line-height: normal;
    }
    .find-store button {
        padding: 5px;
        font-size:var(--font-size-s);
        font-weight: var(--font-weight-low);
        margin-bottom: 5px;
    }

    .header-row .header-column .content-text{
        font-size:var(--font-size-n);
        font-weight: bold;
    }
    header .header-row .header-column2{
        display: none;
    }
    header .header-row .header-column .nav-links{
        display: none;
    }
    header .header-row .menu-list{
        background-color: var(--secondary-color);
        position: absolute;
        top: 5%;
        display: flex;
        flex-direction: row-reverse;
        text-align: center;
        padding: 20px;
        height: 95vh;
        width: 80%;
        left: -100%;
        transition: 0.5s;
    } 
    header .header-row .menu-list i{
        position: absolute;
        left:7%;
        font-size: var(--font-size-xxl);
        color: var(--primary-color);
    }
    header .header-row .menu-list i:hover{
        color: var(--hover-color);
        cursor: pointer;
        text-decoration: overline;
        transition: 0.3s;
    }
    header .header-row .menu-list .nav-links{
        list-style: none;
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-evenly;
        flex-direction: column;
        
    }
    .header-row .menu-list .nav-links a {
        font-size: var(--font-size-n);
        font-weight: var(--font-weight-low);
        text-decoration: none;
        color: var(--primary-color);
        text-transform: uppercase;
    }
    .header-row .menu-list .nav-links a:hover{
        text-decoration: overline;
        color: var(--link-hover-color);
        transition: 0.3s;
        cursor: pointer;

    } 
    .header-row .header-column h3,i{
        font-size: var(--font-size-n);
        font-weight: var(--font-weight-normal);
    }
    .header-row .header-column i{
        font-size: var(--font-size-n);
    }
    .header-row .header-column .nav-links a {
        font-size: var(--font-size-s);
        font-weight: var(--font-weight-low);
    }
    .header-row .header-column .nav-links{
        display: none;
    }
    .header-row .header-column3{
        display: block;
    }
    .header-row .header-column3 i{
        font-size: var(--font-size-xxl);
    }
    .header-row .header-column3 i:hover{
        text-decoration: overline;
        color: var(--link-hover-color);
        transition: 0.3s;
        cursor: pointer;
    }
        

    article .fixed-button{
        padding: 5px;
        position: fixed;
        top: 95%;
        left: 90%;  
    }
    



    .home-section video::before{
       width: 100%;
       height: 100%;
       object-fit: cover;
       background-attachment: fixed;
    
    }
    
.home-section video::after{
    position: absolute;
       width: 100%;
       height: 100%;
    
    }
   
    
    
} */
/*----- Tablet Devices -----*/
/* @media screen  and (min-width:767px) and (max-width:1023px){

    .header-row .header-column .content-text{
        font-size:var(--font-size-n);
        font-weight: bold;
    }
    header .top-div {
        padding: 7px;
    }
    header .top-div a{
        font-size:var(--font-size-s);
        font-weight:var(--font-weight-low);
    }
    header .bottom-div {
        padding: 7px;
    }
    .bottom-div-links{
        display: block;
    }
    .bottom-div-links i{
        margin: 3px;
    }
    .bottom-div-links i:hover{
        color: var(--link-hover-color);
        cursor: pointer;
    }
    .bottom-div-content ul{
        gap: 10px;
    }
    .bottom-div-content a{
        font-size: var(--font-size-m);
        font-weight: var(--font-weight-bold);
    }
    .bottom-div-end-content {
        display: none;
    }
    .find-store {
        width: 30%;
        padding: 10px;
        position: relative;
        left: 1%;
        top:1%
    }
    .find-store h5 {
        font-size: var(--font-size-s);
    }
    .find-store h3 {
        font-size: var(--font-size-n);
    }
    .find-store p {
        font-size: var(--font-size-s);
        line-height: normal;
    }
    .find-store button {
        padding: 3px;
    }
    .find-store button {
        padding: 5px;
        font-size: var(--font-size-s);
    }
    header .header-row .header-column2 {
        gap: 5px;
        display: none;
    }
    header .header-row .header-column .nav-links{
        display: none;
    }
    .header-row .header-column h3,i{
        font-size: var(--font-size-n);
        font-weight: var(--font-weight-normal);
    }
    .header-row .header-column i{
        font-size: var(--font-size-m);
    }
    .header-row .header-column .nav-links a {
        font-size: var(--font-size-n);
        font-weight: var(--font-weight-normal);
    }
    .header-row .header-column .nav-links{
        display: none;
    }
    .header-row .header-column3{
        display: block;
    }

    article .fixed-button{
        padding: 8px;
        position: fixed;
        top: 90%;
        left: 95%;   
    }
    
} */
/*----- Laptop Devices -----*/
/* @media screen and (min-width:1024px) and (max-width:1439px){
    
} */
/* Desktop Devices */
/* @media screen and (min-width:1440px){
    
} */




/*===== Media Quary =====*/

/*----- Mobile Devices -----*/
@media only screen  and (max-width:767px){
    /* Header Navbar */
header .navbar{
    padding: 10px;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.navbar .navbar-logo{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.navbar .nav-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 0;
    left: -100%;
    gap: 0px;
    padding: 20px;
    width: 65%;
    height: 100vh;
    background:var(--secondary-color) ;
    transition: 0.5s;
}
.navbar .nav-links .menu-close-button{
    display: block;
    font-size: var(--font-size-xxl);
    color: var(--primary-color);
    position: absolute;
    top: 2%;
    left: 5%;

}
.navbar .nav-links .menu-close-button:hover{
    color: var(--link-hover-color);
    cursor: pointer;
}
.navbar .nav-links li a{
    color:var(--white-color);
    font-size: var(--font-size-n);
    font-weight: var(--font-weight-normal);
}
.navbar .navbar-logo a{
    font-size: var(--font-size-n);
}
.navbar .social-links{
    display: none;  
}
.navbar .menu-div{
    display: block;
    z-index: 3;
}
.navbar .menu-div i{
    color: var(--white-color);
}
header .main-video video{
    position: absolute;
    top: 0;
    object-fit: cover;
    width: 100%;
    height: 100vh;


    
}


}
    
    
/*----- Tablet Devices -----*/
@media only screen  and (min-width:768px) and (max-width:1023px){



}
/*----- Laptop Devices -----*/
@media only screen and (min-width:1024px) and (max-width:1439px){
    
}
/* Desktop Devices */
@media only screen and (min-width:1440px){
    
}