@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Caveat:wght@400..700&family=Miniver&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    user-select: none;
}
html {
    scroll-behavior: smooth;
}
/* root */
:root {
    /* Colors */
    --white-color:white;
    --dark-color:rgb(51, 49, 49);
    --primary-color:rgb(231, 221, 221);
    --another-color:#f5deb3;
    --secondary-color:#353839;
    --secondary-color-hover:#565a5c;
    --button-color:linear-gradient(90deg,#2c0f12,#6b1e23);;
    --button-hover-color:rgb(141, 125, 125); 
    --hover-color:rgba(163, 150, 150, 1);
    --link-hover-color:rgb(209, 8, 8);
    --another-font-family: 'Courier New', Courier, monospace;
    --green-color:rgb(24, 150, 24);
    --strike-color:rgb(194, 184, 184);


    /* --primary-color:#ffd700;
    --primary-color:#f0eded;
    --primary-color:#f5deb3;
    --primary-color:#c4c3d0;
    --primary-color:linear-gradient(90deg,#6b1e23,#2c0f12);
    --primary-color:linear-gradient(90deg,#6b1e23,#2c0f12);

    --secondary-color:#353839;
    --secondary-color:#77a8a8;
    --secondary-color:#36454f;
    --secondary-color:#50222d;
    --secondary-color:linear-gradient(90deg,#2c0f12,#6b1e23);
    --secondary-color:linear-gradient(90deg,#2c0f12,#6b1e23); */

    /* Font Size */
    --font-size-s: 10px;
    --font-size-n: 12px;
    --font-size-m: 14px;
    --font-size-l: 16px;
    --font-size-xl: 18px;
    --font-size-xxl: 20px;
    --font-size-xxxl: 22px;
   
    /* Font Weight */
    --font-weight-low:300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /* Border radius */
    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circle: 50%;

    /* Site Max-width */
    --site-max-width: 1300px;
}




 .top-div {
    padding: 10px;
    background: var(--secondary-color) ;
    text-align:center;
}
 .top-div a {
    color:var(--white-color);
    text-decoration:none;
    font-size:var(--font-size-n);
    font-weight:var(--font-weight-normal);
    text-transform:uppercase;
}
 .top-div a i{
    color: var(--white-color);
    font-size: var(--font-size-l);
}
 .top-div a:hover {
    color:var(--link-hover-color);
    text-decoration:underline;
    transition:0.5s;
}
 .top-div a i:hover{
    color:var(--link-hover-color);
}

 .bottom-div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    border-bottom: 1px solid rgb(158, 155, 155);
    background:var(--white-color);
}
.bottom-div-links{
    display: none;
}
.bottom-div-content ul{
    display: flex;
    align-items: center;
    gap: 15px;
}
.bottom-div-content ul li{
    list-style: none;
    font-size: var(--font-size-m);
    color: var(--dark-color);
}
.bottom-div-content ul li:hover{
    cursor: pointer;
    color: var(--link-hover-color);
}
.bottom-div-content ul li i{
    color: var(--dark-color);
    font-size: var(--font-size-m);
}
.bottom-div-content ul li i:hover{
    color: var(--link-hover-color);
    transition: 0.3s;
    cursor: pointer;
}
.bottom-div-content a{
    text-decoration: none;
    color: var(--dark-color);
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-normal);
}
.bottom-div-content a:hover{
    text-decoration: underline;
    color: var(--link-hover-color);
    transition: 0.3s;
}


    .find-store {
        width: 50%;
        height: fit-content;
        padding: 10px;
        position: absolute;
        left:1%;
        top:1%;
        box-shadow: 0px 0px 30px rgba(227,228,237,0.37);
        border:2px solid rgba(255,255,255,0.18);
        display: none;
        backdrop-filter:blur(30px);
        z-index: 49;
        width: 30%;
        text-align: center;
        padding-bottom:20px;
    }
    .find-store i{
        position: relative;
        left:40%;
        font-size: var(--font-size-xxl);
    }
    .find-store i:hover{
        color: var(--link-hover-color);
        cursor: pointer;
        transition: 0.3s;
    }
    .find-store h5 {
        font-size: var(--font-size-n);
        font-weight: var(--font-weight-normal);
    }
    .find-store h3 {
        font-size: var(--font-size-l);
        font-weight: var(--font-weight-bold);
        color: var(--link-hover-color);

    }
    .find-store p {
        font-size: var(--font-size-n);
        font-weight: var(--font-weight-low);
        line-height: normal;
    }
    .find-store button {
        padding: 5px;
        font-size:var(--font-size-s);
        font-weight: var(--font-weight-low);
        margin-bottom: 5px;
        width: 100%;
        border-radius: 5px;
        color: var(--primary-color);
        background: var(--secondary-color) ;
        border:none;
    }
    .find-store button:hover{
        background:var(--button-hover-color) ;
        cursor: pointer;
        transition: 0.3s;
    } 




/*===== Header =====*/
header {
    position: relative;
    display: inline;
}
/* Header Navbar */
header .navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    /* background: transparent; */
    position: sticky;
    top:0px;
    z-index: 5;
    animation: changeBg 5s infinite alternate linear;
    
}
@keyframes changeBg{
    /* 0%{
        background:transparent ;
    }
    25%{
        background: var(--dark-color);
    }
    50%{
        background:transparent;
    }
    75%{
        background:var(--white-color) ;
    } */
    100%{
        background:var(--secondary-color);
    }
}
.navbar .nav-links{
    display: flex;
    list-style: none;
    text-transform: uppercase;
    gap: 30px;

}
/* .navlinks-div{
    display: none;
}
.navlinks-div a img{
    width: 100%;
    height: 40%;
}
.navlinks-div img:hover{
    cursor: pointer;
} */
.navbar .nav-links li a{
    text-decoration: none;
    color: var(--white-color);
    font-size: var(--font-size-n);
    font-weight: var(--font-weight-bold);
}
.navbar .navbar-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navbar .navbar-logo .logo{
    text-decoration: none;
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-bold);
    color: var(--white-color);  
    text-transform: uppercase;
}
.navbar .social-links a{
    color:var(--white-color);
}
.navbar .social-links a i{
    margin: 5px;   
}
.navbar .nav-links li a:hover{
    color: var(--link-hover-color);
    transition: 0.3s;
    text-decoration: overline;    
}
.navbar .nav-links .menu-close-button{
    display: none;
}
.navbar-logo svg:hover{
    fill:yellow;
    transition: 0.3s;
    color:var(--link-hover-color);
    cursor: pointer;
}
.navbar .navbar-logo a:hover{
    color: var(--link-hover-color);
    transition: 0.3s;  
}
.navbar .social-links a:hover{
    cursor: pointer;
    color: var(--link-hover-color);
    transition: 0.3s; 
    border:1px var(--white-color) solid;
    border-radius: 50%;
    transition: 0.5s;
      
}
/* Header Main-video */
.navbar .menu-div{
    display: none;
}
.navbar .menu-div i{
    color:var(--white-color);
    font-size: var(--font-size-xxxl);
    margin: 5px;
    padding: 3px;
    
}
.navbar .menu-div i:hover{
    cursor: pointer;
    color: var(--link-hover-color);
    transition: 0.3s;
}
header .main-video{
    height:88vh; 
}
header .main-video .background-clip{
    position: absolute;
    top: 0;
    object-fit: cover;
    z-index: 2;
    height: 100vh;

    
    
}
/* Header Main-content */
header .main-content {
    position: absolute;
    top: 60%;
    z-index: 2;
    left: 0%;
    padding: 20px;
    text-align: center; 
    background: transparent ;
    width: 100%;

}
header .main-content h3{
    font-size:35px;
    text-transform:uppercase ;
    color: var(--white-color);
    font-weight: var(--font-weight-normal);
    font-family: var(--another-font-family);
}
header .main-content .main-button {
    width: 100%;
    text-align: center;
}
header .main-content .main-button button{
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-bold);
    margin: 10px;
    border-radius: 10px;
    border: none;
    width: 180px;
    height: 40px;
    text-transform: uppercase;
    font-family: var(--another-font-family);
}
header .main-content .main-button button:hover{
    cursor: pointer;
    background:transparent ;
    transition: 0.6s;
    border:1px double var(--white-color);
    color: var(--white-color);
}

/*===== Main =====*/
/*===== Size Section ======*/
main .size-section{
    padding: 20px;
    background:var(--white-color);
    text-align: center;
}
main .size-section h3{
    font-size: var(--font-size-xxxl);
    text-transform: uppercase;
    font-weight: var(--font-weight-medium);
}
main .size-section .size-div{
    padding: 10px;
    background:var(--white-color) ;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
main .size-section .size-div .tittle {
    background:var(--primary-color);
    border-radius: var(--border-radius-s);
    padding: 8px;
    margin: 5px;
}
main .size-section .size-div .tittle:hover{
    cursor: pointer;
    background: var(--white-color);
    border:1px solid var(--primary-color);
    transition: 0.6s;
} 
main .size-section .size-div .tittle h3{
    font-size: var(--font-size-xxl);
    font-family: "Poppins", sans-serif;
    font-weight:var(--font-weight-normal);    
}
main .size-section .size-buttons {
    padding: 10px;
    background:var(--white-color) ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;

}
main .size-section .size-buttons .button-section{   
    background:var(--white-color);

}
main .size-section .size-buttons .button-section a button{
    height: 45px;
    width: 80px;
    border-radius: 8px;
    border:1px solid var(--dark-color);
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-medium);
    background: var(--white-color);
    margin: 3px;
}
main .size-section .size-buttons .button-section a button:hover{
    cursor: pointer;
    background: var(--dark-color);
    color: var(--white-color);
    transition: 0.6s;
    
}
main .size-section .size-buttons .button-section2{
    display: none;
}

/*===== Global Section ===== */
.globel-section .section-tittle{
    font-size: var(--font-size-m);
    padding-bottom:0px;
}
.globel-section .globel-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.globel-section .globel-row .globel-column{
    width: 30%;
    padding: 30px;
    margin: 5px;
    background:var(--white-color) ;
    text-align: center;
}
.globel-section .section-tittle{
    font-size: var(--font-size-m);
    padding-bottom:0px;
}
.globel-section .globel-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.globel-section .globel-row .globel-column img:hover{
    cursor: pointer;
}
.globel-section .globel-row .globel-column img{
    width: 60%;
    border-radius: var(--border-radius-s);

}

/*===== AllCategories ===== */
.section-tittle{
    text-align: center;
    font-size: var(--font-size-xxxl);
    padding: 10px;
    font-weight: var(--font-weight-semibold);
    text-transform: uppercase;
}
.allcategories-section {
    padding: 10px;
}
.allcategories-section .all-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.allcategories-section .all-row .all-column{
    width: 19%;
    padding: 5px;
    margin: 5px;
    background:var(--white-color) ;
}
.allcategories-section .all-row .all-column:hover{
    cursor: pointer;
}
.allcategories-section .all-row .all-column img{
    width: 100%;
    border-radius: var(--border-radius-s);

}


/*===== Special Coupon Img  */
/* .coupon-section {
    display: flex;
}
.coupon-section .coupon-div{
    text-align: center;
} 
.coupon-section .coupon-div img{
    width: 100%;
} */


/*===== Collection Section ======*/
.collection-section {
    padding: 10px;
}
.collection-section .collection-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}
.collection-section .collection-row .collection-column{
    width: 24%;
    padding: 5px;
    margin: 5px;
    background:var(--white-color) ;
}
.collection-section .collection-row .collection-column:hover{
    cursor: pointer;

}
.collection-section .collection-row .collection-column img{
    width: 100%;
    border-radius: var(--border-radius-s);
    transition: transform 0.6s;
}
.collection-section .collection-row .collection-column img:hover{
    transform: translateY(-10px);
}
.collection-section .collection-row .collection-column .tittle{
    font-size: var(--font-size-l);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.collection-section .collection-row .collection-column small{
    color: var(--strike-color);

}
.collection-section .collection-row .collection-column p{
    font-size: var(--font-size-m);
}
.collection-section .collection-row .collection-column p s{
    margin: 5px;
    font-size: var(--font-size-n);
    color: var(--strike-color);
}
.collection-section .collection-row .collection-column p span{
    font-size: var(--font-size-m);
    color:var(--green-color) ;

}


/*===== Footer Section ======*/
.footer-section{
    padding: 20px;
    border-top: 1px solid var(--secondary-color-hover);
}
.footer-section .footer-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.footer-section .footer-row .footer-column ul{
    list-style: none;
    margin: 5px;
}
.footer-section .footer-row .footer-column ul li a{
    text-decoration: none;
    color: var(--secondary-color-hover);
    font-size: var(--font-size-m);
}
/* .footer-section .footer-row .footer-column p{
    font-size: var(--font-size-m);
    color: var(--secondary-color-hover);
}
.footer-section .footer-row .footer-column p b{
    color: var(--dark-color);
    font-weight: var(--font-weight-bold);
} */
.footer-section .footer-row .footer-column3{
    width: 40%;
}
.footer-section .social-links{
    padding: 20px;
}
.footer-section .social-links a{
    text-decoration:none;
    color: var(--secondary-color-hover);
    margin: 5px;
    
}
.footer-section .social-links a i{
    font-size: var(--font-size-xl);
    padding: 5px;
}
.footer-section .social-links a i:hover{
    transition: 0.6s;
    color: var(--secondary-color);
}
.footer-section .social-links p{
    font-size: var(--font-size-n);
    color: var(--secondary-color-hover);
    padding: 5px;
    margin: 5px;
}

.footer-column3 .contact-info-list .contact-info{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.contact-info-list .contact-info i{
    color: var(--secondary-color-hover);
    font-size:var(--font-size-m);
    margin-right: 10px;
}
.contact-info-list .contact-info p{
    font-size: var(--font-size-m);
    color: var(--secondary-color-hover);
}
.last-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.last-div .icon-wrapper a{
    color: var(--secondary-color-hover);
    margin: 5px;
}
.last-div .icon-wrapper a:hover{
    color: var(--secondary-color);
}
.last-div .icon-wrapper i{
    font-size: var(--font-size-xxxl);
    margin: 5px;
}

/*===== Media Quary =====*/

/*----- Mobile Devices -----*/
@media only screen  and (max-width:767px){

     /*===== Article=====  */
     .top-div {
        padding: 5px;
    }
     .top-div a{
        font-size:var(--font-size-s);
        font-weight:var(--font-weight-low);
    }
     .top-div .link-two{
        display: none;
    }
     .bottom-div {
        padding: 5px;
    }
    .bottom-div-links{
        display: block;
    }
    .bottom-div-links i{
        margin: 3px;
    }
    .bottom-div-links i:hover{
        color: var(--link-hover-color);
        cursor: pointer;
    }
    .bottom-div-content ul{
        gap: 7px;
    }
    .bottom-div-content ul li{
        font-size: var(--font-size-n);
    }
    .bottom-div-content ul li i{
        font-size: var(--font-size-m);
    }
    .bottom-div-content a{
        font-size: var(--font-size-n);
        font-weight: var(--font-weight-bold);
    }
    .bottom-div-content a i{
        font-size: var(--font-size-s);
    }
    .bottom-div-content i:hover{
        cursor: pointer;
        color: var(--link-hover-color);
    }
    .bottom-div-end-content {
        display: none;
    }
    .find-store {
        width: 100%;
        padding: 10px;
        position: absolute;
        left: 0;
        top:0;
        bottom: 0;
        right: 0;
        text-align: center;
        transition: 0.8s;
    }
    .find-store i{
        /* position: relative;
        left: 40%; */
        font-size: var(--font-size-xxl);
    }
    .find-store h5 {
        font-size: var(--font-size-n);
        font-weight: var(--font-weight-low);
    }
    .find-store h3 {
        font-size: var(--font-size-n);
       
    }
    .find-store p {
        font-size: var(--font-size-n);
        font-weight: var(--font-weight-low);
        line-height: normal;
    }
    .find-store button {
        padding: 5px;
        font-size:var(--font-size-s);
        font-weight: var(--font-weight-low);
        margin-bottom: 5px;
    }

/* Header Navbar */
header .navbar{
    padding: 10px;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.navbar .navbar-logo{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.navbar .nav-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    position: absolute;
    top: 0;
    left: -100%;
    gap: 0px;
    padding: 20px;
    width: 85%;
    height: 100vh;
    transition: 0.6s;
    z-index: 99;
    background: var(--secondary-color);
}
.navbar .nav-links li img{
    width: 100%;
    height: 100%;
}
/* .navlinks-div{
    width: 100%;
    display: block;
} */
 .sign-in{
    background: var(--white-color);
    width: 100%;
    padding: 10px;
}
.sign-in a{
    text-decoration: none;
    color: var(--secondary-color);
    font-size: var(--font-size-n);
}
.navbar .nav-links .menu-close-button{
    display: block;
    font-size: var(--font-size-xxxl);
    color: var(--primary-color);
    position: absolute;
    top: 2%;
    left: 5%;
    margin: 5px;

}
.navbar .nav-links .menu-close-button:hover{
    color: var(--link-hover-color);
    cursor: pointer;
}
.navbar .nav-links li a{
    color:var(--white-color);
    font-size: var(--font-size-n);
    font-weight: var(--font-weight-normal);
}
.navbar .navbar-logo a{
    font-size: var(--font-size-n);
}
.navbar .social-links{
    display: none;  
}
.navbar .menu-div{
    display: block;
}
.navbar .menu-div i{
    color: var(--white-color);
    
}
/* Header Main-Video */
header .main-video .background-clip{
    position: absolute;
    top: 0;
    object-fit: cover;
    z-index: 2;
    height: 100vh;
}
header .main-video{
    background: transparent;
    height:95vh; 
    object-fit: cover; 
}
/* Header Main-Content */
header .main-content {
    position: absolute;
    top: 60%;
    left:0%;
    padding: 10px;
    width: 100%;
}
header .main-content h3{
    font-size:25px;
}
header .main-content .main-button button{
    font-size: var(--font-size-n);
    width: 160px;
    height: 35px;
}

/*===== Main =====*/
/*===== Size Section ======*/
main .size-section{
    padding: 10px;
}
main .size-section h3{
    font-size: var(--font-size-xl);
}
main .size-section .size-div{
    padding: 1px;
}
main .size-section .size-div .tittle {
    padding: 5px;
    margin: 5px;
}
main .size-section .size-div .tittle h3{
    font-size: var(--font-size-m);   
}
main .size-section .size-buttons {
    padding: 5px;

}
main .size-section .size-buttons .button-section a button{
    height: 35px;
    width: 75px;
    border-radius: 8px;
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-medium);
}

/*===== Global Section ===== */
.globel-section .section-tittle{
    font-size: var(--font-size-m);
}
.globel-section .globel-row{
    padding: 5px;
}
.globel-section .globel-row .globel-column{
    width: 30%;
    padding: 10px;
    margin: 5px;
}
.globel-section .section-tittle{
    font-size: var(--font-size-n);
}
.globel-section .globel-row{
    padding: 5px;
}
.globel-section .globel-row .globel-column img{
    width: 100%;

}

/*===== AllCategories ===== */
.section-tittle{
    font-size: var(--font-size-xl);
    padding: 5px;
    font-weight: var(--font-weight-bold);
}
.allcategories-section {
    padding: 5px;
}
.allcategories-section .all-row{
    padding: 5px;
}
.allcategories-section .all-row .all-column{
    width: 100%;
}

/*===== Collection Section ======*/
.collection-section {
    padding: 5px;
}
.collection-section .collection-row{
    padding: 5px;
}
.collection-section .collection-row .collection-column{
    width: 45%;

    padding: 5px;
    margin: 5px;
}
.collection-section .collection-row .collection-column img{
    width: 100%;
    border-radius: var(--border-radius-s);
}
.collection-section .collection-row .collection-column .tittle{
    font-size: var(--font-size-n);
}
.collection-section .collection-row .collection-column small{
    font-size: var(--font-size-s);
}
.collection-section .collection-row .collection-column p{
    font-size: var(--font-size-m);
}
.collection-section .collection-row .collection-column p s{
    margin: 5px;
    font-size: var(--font-size-s);
}
.collection-section .collection-row .collection-column p span{
    font-size: var(--font-size-s);


}


/*===== Footer Section ======*/
/*===== Footer Section ======*/
.footer-section{
    padding: 10px;
}
.footer-section .footer-row{
    padding: 10px;
}
.footer-section .footer-row .footer-column{
    margin: 5px;
}
.footer-section .footer-row .footer-column ul{
    margin: 5px;
}
.footer-section .footer-row .footer-column ul li a{
    font-size: var(--font-size-n);
}
.footer-section .footer-row .footer-column p{
    font-size: var(--font-size-n);
}
.footer-section .footer-row .footer-column p b{
    font-weight: var(--font-weight-normal);
}
.footer-section .footer-row .footer-column3{
    width: 100%;
    margin-top: 15px;
}
.footer-section .footer-row .footer-column h4{
    font-size: var(--font-size-m);
}

.footer-column3 .contact-info-list .contact-info{
    padding: 5px;
}
.last-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.last-div .icon-wrapper svg{
    width: 28px;
    height: 28px;
}



}
    
/*----- Tablet Devices -----*/
@media only screen  and (min-width:768px) and (max-width:1023px){



}
/*----- Laptop Devices -----*/
@media only screen and (min-width:1024px) and (max-width:1439px){
    
}
/* Desktop Devices */
@media only screen and (min-width:1440px){
    
}




/* ===================================== */

/*===== header =====*/
/* header .top-div {
    padding: 10px;
    background: var(--secondary-color) ;
    text-align:center;
}
header .top-div a {
    color:var(--another-color);
    text-decoration:none;
    font-size:var(--font-size-n);
    font-weight:var(--font-weight-normal);
    text-transform:uppercase;
}
header .top-div a i{
    color: var(--another-color);
}
header .top-div a:hover {
    color:var(--link-hover-color);
    text-decoration:underline;
    transition:0.5s;
}
header .top-div a i:hover{
    color:var(--link-hover-color);
}

header .bottom-div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    border-bottom: 1px solid rgb(158, 155, 155);
    background:var(--another-color);
}
.bottom-div-links{
    display: none;
}
.bottom-div-content ul{
    display: flex;
    align-items: center;
    gap: 15px;
}
.bottom-div-content ul li{
    list-style: none;
    font-size: var(--font-size-m);
    color: var(--dark-color);
}
.bottom-div-content ul li:hover{
    cursor: pointer;
    color: var(--link-hover-color);
}
.bottom-div-content ul li i{
    color: var(--dark-color);
    font-size: var(--font-size-m);
}
.bottom-div-content ul li i:hover{
    color: var(--link-hover-color);
    transition: 0.3s;
    cursor: pointer;
}
.bottom-div-content a{
    text-decoration: none;
    color: var(--dark-color);
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-normal);
}
.bottom-div-content a:hover{
    text-decoration: underline;
    color: var(--link-hover-color);
    transition: 0.3s;
}
.find-store {
    background:var(--white-color) ;
    color: var(--secondary-color);
    width: 18%;
    padding: 15px;
    position: absolute;
    left: 7%;
    top:7%;
    box-shadow: 0 0 2px 2px rgb(189, 181, 181);
    display: none;
    z-index: 3;
    text-align: center;
    border-radius: var(--border-radius-s);
    
}
.find-store i{
    position: relative;
    left: 40%;
    color: var(--secondary-color);
}
.find-store i:hover{
    cursor: pointer;
    color: var(--link-hover-color);
    text-decoration: overline;
    transition: 0.3s;
}
.find-store h5 {
    font-size: var(--font-size-n);
} 
.find-store h3 {
    font-size: var(--font-size-m);
    color: var(--link-hover-color);
}
.find-store p {
    font-size: var(--font-size-n);
}
.find-store button {
    padding: 5px;
    width: 100%;
    background: var(--secondary-color);
    color: var(--primary-color);
    border:1px solid black;
    border-radius: var(--border-radius-s);

    align-self: center;
    font-size: var(--font-size-s);
    margin-top: 5px;
}
.find-store button:hover {
    background: var(--secondary-color-hover);
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid var(--primary-color);


}

header{
    position: relative;
    display: inline;
}
header .header-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: transparent ;
    padding: 20px;
    z-index: 2;
    width: 100%;
    position: sticky;
    top:10px;
    
}
.header-row .header-column {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: uppercase;
}
header .header-row .header-column2 i{
    margin: 5px;
    
}
header .header-row .header-column {
    gap: 3px;
}
header .header-row .header-column .nav-links{
    list-style: none;
    display: flex;
    gap: 40px;
    text-transform: uppercase; 
    position: sticky;
    top:20px;
}
.header-row .header-column .content-text:hover{
    cursor: pointer;
    color: red;
    transition: 0.3s;
    text-decoration: underline;
}
.header-row .header-column h3,i{
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-bold);
    color:var(--secondary-color);
}
header .header-row .menu-list {
    display: none;
}
.header-row .header-column i{
    font-size: var(--font-size-m);
}
.header-row .header-column .nav-links a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: var(--font-size-n);
    font-weight: var(--font-weight-normal);
}
.header-row .header-column .nav-links a:hover{
    cursor: pointer;
    color: var(--link-hover-color);
    transition: 0.3s;
    text-decoration: underline;
}
.header-row .header-column3{
    display: none;
}

section{

}
section .home-section{
    
}

.home-section video::before{
       width: 100%;
       height: 100%;
       object-fit: cover;
       background-attachment: fixed;
    
    }
    
.home-section video::after{
    position: absolute;
       width: 100%;
       height: 100%;
    
    } */

/*===== Fixed Button (FeedBack Button) */
/* article .fixed-button{
    color: var(--primary-color);
    background:var(--secondary-color);
    padding: 8px;
    border:1px solid var(--dark-color);
    border-radius: var(--border-radius-s);
    position: fixed;
    top: 92%;
    left: 93%;    
}
article .fixed-button i{
    color: var(--primary-color);
}
article .fixed-button:hover{
    background: var(--secondary-color-hover);
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid var(--primary-color);

} */

/*===== Media Quary =====*/
/*----- Mobile Devices -----*/
/* @media screen  and (max-width:767px){

    
    header .top-div {
        padding: 5px;
    }
    header .top-div a{
        font-size:var(--font-size-s);
        font-weight:var(--font-weight-low);
    }
    header .top-div .link-two{
        display: none;
    }

    header .bottom-div {
        padding: 5px;
    }
    .bottom-div-links{
        display: block;
    }
    .bottom-div-links i{
        margin: 3px;
    }
    .bottom-div-links i:hover{
        color: var(--link-hover-color);
        cursor: pointer;
    }
    .bottom-div-content ul{
        gap: 7px;
    }
    .bottom-div-content ul li{
        font-size: var(--font-size-s);
    }
    .bottom-div-content ul li i{
        font-size: var(--font-size-s);
    }
    .bottom-div-content a{
        font-size: var(--font-size-s);
        font-weight: var(--font-weight-bold);
    }
    .bottom-div-content a i{
        font-size: var(--font-size-s);
    }
    .bottom-div-content i:hover{
        cursor: pointer;
        color: var(--link-hover-color);
    }
    .bottom-div-end-content {
        display: none;
    }
    
    .find-store {
        width: 50%;
        padding: 10px;
        position: absolute;
        left: 1%;
        top:1%;
        box-shadow: 0 0 1px 1px rgb(189, 181, 181);
    }
    .find-store i{
        position: relative;
        left: 40%;
        font-size: var(--font-size-m);
    }
    .find-store h5 {
        font-size: var(--font-size-n);
        font-weight: var(--font-weight-low);
    }
    .find-store h3 {
        font-size: var(--font-size-n);
        font-weight: var(--font-weight-normal);
    }
    .find-store p {
        font-size: var(--font-size-n);
        font-weight: var(--font-weight-low);
        line-height: normal;
    }
    .find-store button {
        padding: 5px;
        font-size:var(--font-size-s);
        font-weight: var(--font-weight-low);
        margin-bottom: 5px;
    }

    .header-row .header-column .content-text{
        font-size:var(--font-size-n);
        font-weight: bold;
    }
    header .header-row .header-column2{
        display: none;
    }
    header .header-row .header-column .nav-links{
        display: none;
    }
    header .header-row .menu-list{
        background-color: var(--secondary-color);
        position: absolute;
        top: 5%;
        display: flex;
        flex-direction: row-reverse;
        text-align: center;
        padding: 20px;
        height: 95vh;
        width: 80%;
        left: -100%;
        transition: 0.5s;
    } 
    header .header-row .menu-list i{
        position: absolute;
        left:7%;
        font-size: var(--font-size-xxl);
        color: var(--primary-color);
    }
    header .header-row .menu-list i:hover{
        color: var(--hover-color);
        cursor: pointer;
        text-decoration: overline;
        transition: 0.3s;
    }
    header .header-row .menu-list .nav-links{
        list-style: none;
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-evenly;
        flex-direction: column;
        
    }
    .header-row .menu-list .nav-links a {
        font-size: var(--font-size-n);
        font-weight: var(--font-weight-low);
        text-decoration: none;
        color: var(--primary-color);
        text-transform: uppercase;
    }
    .header-row .menu-list .nav-links a:hover{
        text-decoration: overline;
        color: var(--link-hover-color);
        transition: 0.3s;
        cursor: pointer;

    } 
    .header-row .header-column h3,i{
        font-size: var(--font-size-n);
        font-weight: var(--font-weight-normal);
    }
    .header-row .header-column i{
        font-size: var(--font-size-n);
    }
    .header-row .header-column .nav-links a {
        font-size: var(--font-size-s);
        font-weight: var(--font-weight-low);
    }
    .header-row .header-column .nav-links{
        display: none;
    }
    .header-row .header-column3{
        display: block;
    }
    .header-row .header-column3 i{
        font-size: var(--font-size-xxl);
    }
    .header-row .header-column3 i:hover{
        text-decoration: overline;
        color: var(--link-hover-color);
        transition: 0.3s;
        cursor: pointer;
    }
        

    article .fixed-button{
        padding: 5px;
        position: fixed;
        top: 95%;
        left: 90%;  
    }
    



    .home-section video::before{
       width: 100%;
       height: 100%;
       object-fit: cover;
       background-attachment: fixed;
    
    }
    
.home-section video::after{
    position: absolute;
       width: 100%;
       height: 100%;
    
    }
   
    
    
} */
/*----- Tablet Devices -----*/
/* @media screen  and (min-width:767px) and (max-width:1023px){

    .header-row .header-column .content-text{
        font-size:var(--font-size-n);
        font-weight: bold;
    }
    header .top-div {
        padding: 7px;
    }
    header .top-div a{
        font-size:var(--font-size-s);
        font-weight:var(--font-weight-low);
    }
    header .bottom-div {
        padding: 7px;
    }
    .bottom-div-links{
        display: block;
    }
    .bottom-div-links i{
        margin: 3px;
    }
    .bottom-div-links i:hover{
        color: var(--link-hover-color);
        cursor: pointer;
    }
    .bottom-div-content ul{
        gap: 10px;
    }
    .bottom-div-content a{
        font-size: var(--font-size-m);
        font-weight: var(--font-weight-bold);
    }
    .bottom-div-end-content {
        display: none;
    }
    .find-store {
        width: 30%;
        padding: 10px;
        position: relative;
        left: 1%;
        top:1%
    }
    .find-store h5 {
        font-size: var(--font-size-s);
    }
    .find-store h3 {
        font-size: var(--font-size-n);
    }
    .find-store p {
        font-size: var(--font-size-s);
        line-height: normal;
    }
    .find-store button {
        padding: 3px;
    }
    .find-store button {
        padding: 5px;
        font-size: var(--font-size-s);
    }
    header .header-row .header-column2 {
        gap: 5px;
        display: none;
    }
    header .header-row .header-column .nav-links{
        display: none;
    }
    .header-row .header-column h3,i{
        font-size: var(--font-size-n);
        font-weight: var(--font-weight-normal);
    }
    .header-row .header-column i{
        font-size: var(--font-size-m);
    }
    .header-row .header-column .nav-links a {
        font-size: var(--font-size-n);
        font-weight: var(--font-weight-normal);
    }
    .header-row .header-column .nav-links{
        display: none;
    }
    .header-row .header-column3{
        display: block;
    }

    article .fixed-button{
        padding: 8px;
        position: fixed;
        top: 90%;
        left: 95%;   
    }
    
} */
/*----- Laptop Devices -----*/
/* @media screen and (min-width:1024px) and (max-width:1439px){
    
} */
/* Desktop Devices */
/* @media screen and (min-width:1440px){
    
} */