@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Caveat:wght@400..700&family=Miniver&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    user-select: none;
}
html {
    scroll-behavior: smooth;
}
/* root */
:root {
    /* Colors */
    --white-color:white;
    --dark-color:rgb(51, 49, 49);
    --primary-color:rgb(231, 221, 221);
    --secondary-color:#353839;
    --secondary-color-hover:#565a5c;
    --button-color:linear-gradient(90deg,#2c0f12,#6b1e23);;
    --button-hover-color:rgb(141, 125, 125); 
    --hover-color:rgba(163, 150, 150, 1);
    --link-hover-color:rgb(209, 8, 8);

    /* --primary-color:#ffd700;
    --primary-color:#f0eded;
    --primary-color:#f5deb3;
    --primary-color:#c4c3d0;
    --primary-color:linear-gradient(90deg,#6b1e23,#2c0f12);
    --primary-color:linear-gradient(90deg,#6b1e23,#2c0f12);

    --secondary-color:#353839;
    --secondary-color:#77a8a8;
    --secondary-color:#36454f;
    --secondary-color:#50222d;
    --secondary-color:linear-gradient(90deg,#2c0f12,#6b1e23);
    --secondary-color:linear-gradient(90deg,#2c0f12,#6b1e23); */

    /* Font Size */
    --font-size-s: 10px;
    --font-size-n: 12px;
    --font-size-m: 14px;
    --font-size-l: 16px;
    --font-size-xl: 18px;
    --font-size-xxl: 20px;
    --font-size-xxxl: 22px;
   
    /* Font Weight */
    --font-weight-low:300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /* Border radius */
    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circle: 50%;

    /* Site Max-width */
    --site-max-width: 1300px;
}


/*===== header =====*/
header .top-div {
    padding: 10px;
    background: var(--secondary-color) ;
    text-align:center;
}
header .top-div a {
    color:var(--primary-color);
    text-decoration:none;
    font-size:var(--font-size-n);
    font-weight:var(--font-weight-normal);
    text-transform:uppercase;
}
header .top-div a:hover {
    color:var(--link-hover-color);
    text-decoration:underline;
    transition:0.5s;
}

header .bottom-div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    border-bottom: 1px solid rgb(158, 155, 155);
}
.bottom-div-content ul{
    display: flex;
    align-items: center;
    gap: 15px;
}
.bottom-div-content ul li{
    list-style: none;
    font-size: var(--font-size-m);
    color: var(--dark-color);
}
.bottom-div-content ul li:hover{
    cursor: pointer;
    color: var(--link-hover-color);
}
.bottom-div-content ul li i{
    color: var(--dark-color);
    font-size: var(--font-size-m);
}
.bottom-div-content ul li i:hover{
    color: var(--link-hover-color);
    transition: 0.3s;
    cursor: pointer;
}
.bottom-div-content a{
    text-decoration: none;
    color: var(--dark-color);
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-normal);
}
.bottom-div-content a:hover{
    text-decoration: underline;
    color: var(--link-hover-color);
    transition: 0.3s;
}
.find-store {
    background:var(--white-color) ;
    color: var(--secondary-color);
    width: 18%;
    padding: 15px;
    position: relative;
    left: 10%;
    top: -5px;
    box-shadow: 0 0 2px 2px rgb(189, 181, 181);
    display: none;
    z-index: 3;
    text-align: center;
    border-radius: var(--border-radius-s);
    
}
.find-store i{
    position: relative;
    left: 40%;
    color: var(--secondary-color);
}
.find-store i:hover{
    cursor: pointer;
    color: var(--link-hover-color);
    text-decoration: overline;
    transition: 0.3s;
}
.find-store h5 {
    font-size: var(--font-size-n);
}
.find-store h3 {
    font-size: var(--font-size-m);
    color: var(--link-hover-color);
}
.find-store p {
    font-size: var(--font-size-n);
}
.find-store button {
    padding: 5px;
    width: 100%;
    background: var(--secondary-color);
    color: var(--primary-color);
    border:1px solid black;
    border-radius: var(--border-radius-s);
    /* width: fit-content; */
    align-self: center;
    font-size: var(--font-size-s);
    margin-top: 5px;
}
.find-store button:hover {
    background: var(--secondary-color-hover);
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid var(--primary-color);


}

header .header-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: var(--secondary-color) ;
    padding: 15px;
    z-index: 2;
    position:relative;
    position: fixed;
    top: 90px;
    width: 100%;
}
.header-row .header-column {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: uppercase;
}
header .header-row .header-column2 {
    display: block;
}
header .header-row .header-column2 i{
    padding-left:20px;
}
header .header-row .header-column .nav-links{
    list-style: none;
    display: flex;
    gap: 40px;
    text-transform: uppercase; 
    
}
.header-row .header-column .content-logo{
    color: red;
    background-color: red;
}
.header-row .header-column .content-text:hover{
    cursor: pointer;
    color: red;
    transition: 0.3s;
    text-decoration: underline;
}
.header-row .header-column h3,i{
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-normal);
    color: var(--primary-color);
}
.header-row .header-column i{
    font-size: var(--font-size-m);
}
.header-row .header-column .nav-links a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: var(--font-size-n);
    font-weight: var(--font-weight-normal);
}
.header-row .header-column .nav-links a:hover{
    cursor: pointer;
    color: var(--link-hover-color);
    transition: 0.3s;
    text-decoration: underline;
}
.header-row .header-column3{
    display: none;
}


/*===== Fixed Button (FeedBack Button) */
article .fixed-button{
    color: var(--primary-color);
    background:var(--secondary-color);
    padding: 8px;
    border:1px solid var(--dark-color);
    border-radius: var(--border-radius-s);
    position: fixed;
    top: 92%;
    left: 93%;    
}
article .fixed-button:hover{
    background: var(--secondary-color-hover);
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid var(--primary-color);

}


/*===== Media Quary =====*/

/*----- Mobile Devices -----*/

@media screen  and (max-width:767px){

    header .top-div {
        padding: 5px;
    }
    header .top-div a{
        font-size:var(--font-size-s);
        font-weight:var(--font-weight-low);
    }
    header .top-div .link-two{
        display: none;
    }

    header .bottom-div {
        padding: 8px;
    }
    .bottom-div-content ul{
        gap: 7px;
    }
    .bottom-div-content ul li{
        font-size: var(--font-size-s);
    }
    .bottom-div-content ul li i{
        font-size: var(--font-size-s);
    }
    .bottom-div-content a{
        font-size: var(--font-size-s);
        font-weight: var(--font-weight-bold);
    }
    .bottom-div-end-content {
        display: none;
    }
    
    .find-store {
        width: 40%;
        padding: 10px;
        position: relative;
        left: 12%;
        box-shadow: 0 0 1px 1px rgb(189, 181, 181);
    }
    .find-store i{
        position: relative;
        left: 35%;
    }
    .find-store h5 {
        font-size: var(--font-size-s);
        font-weight: var(--font-weight-low);
    }
    .find-store h3 {
        font-size: var(--font-size-s);
        font-weight: var(--font-weight-normal);
    }
    .find-store p {
        font-size: var(--font-size-s);
        font-weight: var(--font-weight-low);
        line-height: normal;
    }
    .find-store button {
        padding: 2px;
        font-size: 8px;
        font-weight: var(--font-weight-low);
        margin-bottom: 5px;
    }

    header .header-row {
        padding: 10px;
        position:relative;
        position: fixed;
        top: 64px;
        width: 100%;
        justify-content: space-between;
    }
    
    header .header-row .header-column2 {
        gap: 10px;
        display: none;
    }
    header .header-row .header-column .nav-links{
        display: none;
    }
    .header-row .header-column h3,i{
        font-size: var(--font-size-s);
        font-weight: var(--font-weight-low);
    }
    .header-row .header-column i{
        font-size: var(--font-size-n);
    }
    .header-row .header-column .nav-links a {
        font-size: var(--font-size-s);
        font-weight: var(--font-weight-low);
    }
    .header-row .header-column .nav-links{
        display: none;
    }
    .header-row .header-column3{
        display: block;
    }
    .header-row .header-column3 i{
        font-size: var(--font-size-l);
    }
    .header-row .header-column3 i:hover{
        text-decoration: overline;
        color: var(--link-hover-color);
        transition: 0.3s;
        cursor: pointer;
    }
        
/*===== Fixed Button (FeedBack Button) */
    article .fixed-button{
        padding: 5px;
        position: fixed;
        top: 95%;
        left: 90%;  
    }

    
}


/*----- Tablet Devices -----*/
@media screen  and (min-width:668px) and (max-width:1023px){

    header .top-div {
        padding: 7px;
    }
    header .top-div a{
        font-size:var(--font-size-s);
        font-weight:var(--font-weight-low);
    }
    header .bottom-div {
        padding: 7px;
    }
    .bottom-div-content ul{
        gap: 10px;
    }
    .bottom-div-content a{
        font-size: var(--font-size-ss);
        font-weight: var(--font-weight-normal);
    }
    .bottom-div-end-content {
        display: none;
    }
    .find-store {
        width: 30%;
        padding: 10px;
        position: relative;
        left: 15%;
    }
    .find-store h5 {
        font-size: var(--font-size-s);
    }
    .find-store h3 {
        font-size: var(--font-size-n);
    }
    .find-store p {
        font-size: var(--font-size-s);
        line-height: normal;
    }
    .find-store button {
        padding: 3px;
    }
    .find-store button {
        padding: 5px;
        font-size: var(--font-size-s);
    }

    
    header .header-row {
        padding: 8px;
        position:relative;
        position: fixed;
        top: 70px;
        width: 100%;
        justify-content: space-around;
    }
    header .header-row .header-column2 {
        gap: 5px;
        display: none;
    }
    header .header-row .header-column .nav-links{
        display: none;
    }
    .header-row .header-column h3,i{
        font-size: var(--font-size-n);
        font-weight: var(--font-weight-normal);
    }
    .header-row .header-column i{
        font-size: var(--font-size-m);
    }
    .header-row .header-column .nav-links a {
        font-size: var(--font-size-n);
        font-weight: var(--font-weight-normal);
    }
    .header-row .header-column .nav-links{
        display: none;
    }
    .header-row .header-column3{
        display: block;
    }
      
    
    /*===== Fixed Button (FeedBack Button) */
    article .fixed-button{
        padding: 8px;
        position: fixed;
        top: 90%;
        left: 95%;   
    }
    
}
/*----- Laptop Devices -----*/
@media screen and (min-width:1024px) and (max-width:1439px){
    
}
/* Desktop Devices */
@media screen and (min-width:1440px){
    
}